.idea
build/
*~
*.py[co]
.DS_Store
__pycache__
*.egg
*.eggs
*.vscode
*.egg-info
eggs
parts
.installed.cfg
*.tar
*.mo
data/questdb/

# QuestDB runtime data (created by container)
data/questdb/*
!data/questdb/.gitkeep
