.idea
build/
*~
*.py[co]
.DS_Store
__pycache__
*.egg
*.eggs
*.vscode
*.egg-info
eggs
parts
.installed.cfg
*.tar
*.mo
feedhandler.log
dhquest/scipts/*.log
data_questdb/db/*
data_questdb/public/*
data_questdb/conf/*


