services:
  deephaven:
    container_name: deephaven
    build:
      context: docker/deephaven
    environment:
      START_OPTS: -Xmx12g -Dio.deephaven.app.GcApplication.enabled=true -DAuthHandlers=io.deephaven.auth.AnonymousAuthenticationHandler
    ports:
      - "10000:10000"
    volumes:
      - ./data/deephaven:/data/storage
      - ./data/parquet:/data/parquet
    depends_on:
      questdb:
        condition: service_healthy
    networks:
      - quest_ntw

  questdb:
    container_name: questdb
    image: questdb/questdb:9.2.0
    ports:
      - 8812:8812
      - 9000:9000
      - 9009:9009
    volumes:
      - ./data/questdb:/var/lib/questdb
    ulimits:
      nofile:
        soft: 1048576
        hard: 1048576
    healthcheck:
      test: ["CMD-SHELL", "grep -q ':2328' /proc/net/tcp"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
    networks:
      - quest_ntw

  cryptofeed:
    container_name: cryptofeed
    build:
      context: docker/cryptofeed
    depends_on:
      questdb:
        condition: service_healthy
    networks:
      - quest_ntw

networks:
  quest_ntw:
    driver: bridge
    ipam:
      config:
        - subnet: 100.223.1.0/24