deephaven-plugin-matplotlib
aiodns==3.0.0
aiofile==3.8.1
aiohttp==3.8.1
aiokafka==0.7.2
aiosignal==1.2.0
async-timeout==4.0.2
attrs==22.1.0
caio==0.9.8
cchardet==2.1.7
cffi==1.15.1
charset-normalizer==2.1.1
contourpy==1.0.5
cryptofeed
cchardet
cython
order_book==0.4.3
psycopg2-binary
pyyaml
pandas
requests>=2.18.4
uvloop
websockets>=7.0
yapic.json>=1.6.3

